<div *ngIf="isLoading" class="spinnerWrapper">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!quizStarted && !quizFinished">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Select your difficulty</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        This is a game about choosing if the animal is a bird or not.
        Depending on the difficulty, other images are provided.
        Try to guess them all correctly!
      </p>
    </mat-card-content>
    <mat-card-actions class="center">
      <button mat-button class="primary" (click)="getQuestions('easy')">Easy</button>
      <button mat-button class="primary" (click)="getQuestions('hard')">Hard</button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="questions && quizStarted">
  <mat-card class="card">
    <mat-card-header>
      <div>{{currentQuestion.name}}</div>
      <mat-card-title></mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="imageUrl" alt="Picture not correctly loaded.">
    <mat-card-content>
      <!-- <p>
        {{currentQuestion.description}}
      </p> -->
    </mat-card-content>
    <mat-card-actions class="center">
      <button mat-button class="primary" (click)="nextQuestion(true)">Of course, it is!</button>
      <button mat-button class="primary" (click)="nextQuestion(false)">Definetly not!</button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="questions && !quizStarted && quizFinished">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Your results:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Number of correctly answered questions: {{this.correctAnswers}}
      </p>
      <p>
        Percentage of correctly answered questions: {{this.correctPercentage}}%
      </p>
    </mat-card-content>
    <mat-card-actions class="center">
      <button mat-button class="primary" (click)="resetGame()">Another round?</button>
    </mat-card-actions>
  </mat-card>
</div>